body {
    font-family: 'Gotham';
    background-color: #F6F6F2;
}

.fs-cg {
    font-family: 'Cormorant Garamond';
}

.fs-cg-28 {
    font-size: 28px;
}

.fs-cg-42 {
    font-size: 42px;
}

.fs-cg-100 {
    font-weight: 100;
}

.fs-cg-200 {
    font-weight: 200;
}

.fs-cg-300 {
    font-weight: 300;
}

.fs-cg-400 {
    font-weight: 400;
}

.fs-cg-500 {
    font-weight: 500;
}

.fs-cg-600 {
    font-weight: 600;
}

.fs-cg-700 {
    font-weight: 700;
}

.fs-cg-800 {
    font-weight: 800;
}

.fs-cg-900 {
    font-weight: 900;
}

.fs-gotham {
    font-family: 'Gotham';
}

.fs-gotham-20 {
    font-size: 20px !important;
    line-height: 23px !important;
}

.fs-gotham-18 {
    font-size: 18px !important;
    line-height: 23px !important;
}

.fs-gotham-36 {
    font-size: 36px !important;
}

.fs-gotham-100 {
    font-weight: 100;
}

.fs-gotham-200 {
    font-weight: 200;
}

.fs-gotham-300 {
    font-weight: 300;
}

.fs-gotham-400 {
    font-weight: 400;
}

.fs-gotham-500 {
    font-weight: 500;
}

.fs-gotham-600 {
    font-weight: 600;
}

.fs-gotham-700 {
    font-weight: 700;
}

.fs-gotham-800 {
    font-weight: 800;
}

.fs-gotham-900 {
    font-weight: 900;
}

.dark-background {
    background: #173652;
}

.section-padding {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

a {
    color: #194185;
    text-decoration: none;
}

hr:not([size]) {
    height: 1px;
}

hr {
    margin: 1rem 0;
    color: #E1E0E4;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

.logo-size {
    width: 200px;
}

.sub-title {
    max-width: 750px;
    margin: auto;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/menu.svg');
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.signup_btn {
    padding: 7.4418px 18px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    color: #fff;
    border-radius: 0px;
    background: #173652;
    font-weight: 500;
}

.signup_btn:hover {
    background: #F03445;
    border: 1px solid #F03445;
    color: #fff;
}

.signin_btn {
    padding: 7.4418px 18px;
    border: 1px solid #F03445;
    font-size: 12px;
    color: #fff;
    border-radius: 0px;
    background: #F03445;
    font-weight: 500;
}

.signin_btn:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #F03445;
}

.create_your_mt-5 {
    margin-top: 30px;
}

.create_your_account {
    padding: 15px 28px;
    border: 1px solid #F03445;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    border-radius: 0px;
    background: #F03445;
}

.create_your_account:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #F03445;
}

.see-more-btn {
    padding: 15px 28px;
    border: 1px solid #173652;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    border-radius: 0px;
    background: #173652;
}

.see-more-btn:hover {
    background: #F03445;
    border: 1px solid #fff;
    color: #fff;
}

.carousel-item {
    background-size: cover;
    background-position: center;
}

.banner-top {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
}

.main-carousel .slide-item img {
    opacity: 0.5;
    position: relative;
}

.banner-top {
    background: #173652;
}

.banner-top .owl-dots {
    margin-top: -45px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-top .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: .5s;
}

.banner-top .owl-dot.active {
    width: 10px;
    background: #fff;
    height: 10px;
    border-radius: 50px;
}

.banner-top .owl-item.center {
    position: relative;
    z-index: 1;
}

.banner-top .owl-item .testimonial-item {
    transition: .5s;
}

.overlay {
    width: 100%;
    background-color: #173652;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    opacity: 0.8;
}


/*******************/

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
}

.showcase img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99
}

.showcase .overlay {
    width: 100%;
    background-color: rgb(23 54 82 / 80%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 20vw;
    opacity: 1;
}

.showcase h1 {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 54px;
    line-height: 54px;
}

.showcase h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    font-family: 'Cormorant Garamond', serif;
}

.showcase p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    max-width: 650px;
    margin: auto;
}

.address-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.footer-logo img {
    width: 240px;
}

.footer-menu ul li {
    text-decoration: none;
    list-style: none;
    padding: 8px 0px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.footer-menu ul li a {
    color: #fff;
}

.footer-icon {
    display: inline-flex;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.footer-link {
    display: inline-flex;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.content {
    z-index: 2;
    position: relative;
}

.content .content-overlay {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: .5;
    transition: all .4s ease-in-out 0s;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out 0s;
}

.content-details h3 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.content:hover .content-overlay {
    opacity: 1;
    background: #FBDD90;
}

.content .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content:hover .content-details a h3 {
    color: #000;
    text-decoration: none;
}

.sed-posuere-consectetur h2 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    color: #F03445;
    text-transform: uppercase;
}

.sed-posuere-consectetur .overlay {
    width: 100%;
    background-color: #173652;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    opacity: 0.5;
}

.text-section {
    position: absolute;
    top: 45%;
    z-index: 1080;
    text-align: center;
    width: 100%;
}

.text-section h3 {
    color: #fff;
    text-transform: uppercase;
}

.text-dark {
    color: #173652 !important;
}

.text-red {
    color: #F03445 !important;
}

.menu-text-tab {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.sailboat-profiles h2 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    color: #F03445;
    text-transform: uppercase;
}

.sailboat-profiles .content:hover .content-overlay {
    opacity: 0.9;
    background: #FBDD90;
}

.banner-two-page .showcase {
    width: 100%;
    height: 50vh;
    position: relative;
    color: white;
    text-align: center;
}

.banner-two-page .showcase .overlay {
    width: 100%;
    background-color: #173652;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 50vh;
    padding-top: 10vw;
    opacity: 0.8;
}

.form-section .form-select {
    display: block;
    width: 100%;
    padding: 15px 18px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #1c3652;
    background-color: #fff;
    background-image: url("../images/form-select-icon.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 0px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Gotham';
}

.form-section label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #1c3652;
    font-family: 'Gotham';
}

.boat-list {
    background: #fff;
}

.boat-list ul li {
    list-style: none;
}

.boat-list p {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 5px;
}

.boat-list h4 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: #173652;
    opacity: 1;
}

.boat-list h4.deactivate {
    color: #173652;
    opacity: 0.5;
}

.boat-list-icon {
    display: block;
}

.pagination-previous-btn {
    background: #173652;
    padding: 13px 20px 13px 24px;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
}

.pagination-section .page-item a {
    padding: 20px;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.pagination-section .page-item a:hover {
    padding: 20px;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.pagination-section .page-item a.active {
    background: #F03445;
    border-radius: 100px;
    padding: 14px 18px;
    color: #fff;
}

.pagination-section .page-item a.pagenumber:hover {
    background: #F03445;
    border-radius: 100px;
    padding: 14px 18px;
    color: #fff;
}

.likes-favorites-section h4 {
    text-transform: uppercase;
}

.bot-view-details h2 {
    font-size: 54px;
    line-height: 54px;
}

.bot-view-details .title-text p {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 5px;
}

.bot-view-details .title-text h4 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: #173652;
    opacity: 1;
}

.question-section .accordion-item {
    color: #173652;
    background-color: #fff;
    border: 0px;
}

.question-section .accordion-button:not(.collapsed) {
    color: #173652;
    background-color: #fff;
}

.question-section .accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
    /* box-shadow: none; */
}

.photos-section .owl-carousel .owl-nav.disabled,
.videos-section .owl-carousel .owl-nav.disabled {
    display: block;
}

.photos-section .owl-nav .owl-prev,
.videos-section .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 50px;
    opacity: 0;
    transition: .5s;
}

.photos-section .owl-nav .owl-prev:hover,
.videos-section .owl-nav .owl-prev:hover {
    position: absolute;
    left: 10px;
    top: 50px;
    opacity: 1;
    transition: .5s;
}

.photos-section .owl-nav .owl-next,
.videos-section .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 50px;
    opacity: 0;
    transition: .5s;
}

.photos-section .owl-nav .owl-next:hover,
.videos-section .owl-nav .owl-next:hover {
    position: absolute;
    right: 10px;
    top: 50px;
    opacity: 1;
    transition: .5s;
}

.photo-video-filter .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    color: #212529;
    background: none;
    background-image: url('../images/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 0px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.photo-video-filter .form-select:focus {
    outline: 0;
    box-shadow: none;
}

.comment-box {
    filter: drop-shadow(5px 54px 22px rgba(0, 0, 0, 0.01)) drop-shadow(3px 31px 18px rgba(0, 0, 0, 0.05)) drop-shadow(1px 14px 14px rgba(0, 0, 0, 0.09)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

.border-start-red {
    border-left: 2px solid #F03445;
}

.border-start-green {
    border-left: 2px solid rgba(73, 156, 108, 0.404);
}

.border-start-gray {
    border-left: 2px solid rgba(69, 69, 69, 0.651);
}

.border-start-blue {
    border-left: 2px solid rgba(37, 95, 150, 0.397);
}

.border-start-blue {
    border-left: 2px solid rgba(100, 100, 100, 0.397);
}

.comment-section-scroll {
    height: 100vh;
    overflow: scroll;
}

.comment-section-scroll::-webkit-scrollbar {
    display: none;
}

.login-signup-box .modal-content {
    min-width: 750px;
}

.modal-header.login-signup-box-bg {
    background: url("../images/login-bg.jpg");
}

.overlay-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(45deg, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 50%); */
    background: rgb(43 15 70 / 48%);
    background-size: 3px 3px;
    z-index: 2;
}

video {
    max-width: 100%;
    min-height: 45vh;
    z-index: 1;
}

.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(images/img/video-bg.jpg) no-repeat center center/cover;
}


/** Small devices (landscape phones, 576px and up)**/

@media (max-width: 576px) {
    .showcase {
        width: 100%;
        height: 50vh;
        position: relative;
        color: white;
        text-align: center;
        margin-top: 50px;
    }
    .showcase h1 {
        font-family: 'Gotham';
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
    }
    .showcase h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        font-family: 'Cormorant Garamond', serif;
    }
    .create_your_mt-5 {
        margin-top: 20px;
    }
    .sed-posuere-consectetur h2 {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        color: #F03445;
        text-transform: uppercase;
    }
    .banner-two-page .showcase .overlay {
        width: 100%;
        background-color: rgb(23 54 82 / 80%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        padding-top: 20vw;
        height: 25vh;
        opacity: 0.8;
    }
    .banner-two-page .showcase {
        width: 100%;
        height: 25vh;
        position: relative;
        color: white;
        text-align: center;
    }
    .boat-list-icon {
        display: flex;
    }
    .boat-list-icon li {
        padding: 28px;
        margin-bottom: 10px;
        font-size: 26px;
    }
    .boat-list h4 {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        color: #173652;
        opacity: 1;
    }
    .bot-view-details h2 {
        font-size: 24px;
        line-height: 54px;
    }
    .bot-view-details .title-text p {
        font-size: 14px;
    }
    .bot-view-details .title-text h4 {
        font-size: 16px;
    }
    .section-padding {
        padding-top: 0px;
    }
    .bg-video-wrap {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 40vh;
    }
}


/** Medium devices (tablets, 768px and up)**/

@media (min-width: 577px) and (max-width: 820px) {
    .showcase {
        width: 100%;
        height: 50vh;
        position: relative;
        color: white;
        text-align: center;
        margin-top: 50px;
    }
    .showcase h1 {
        font-family: 'Gotham';
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
    }
    .showcase h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        font-family: 'Cormorant Garamond', serif;
    }
    .create_your_mt-5 {
        margin-top: 20px;
    }
    .sed-posuere-consectetur h2 {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        color: #F03445;
        text-transform: uppercase;
    }
    .sed-posuere-consectetur h2 {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        color: #F03445;
        text-transform: uppercase;
    }
    .banner-two-page .showcase .overlay {
        width: 100%;
        background-color: rgb(23 54 82 / 80%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        padding-top: 14vw;
        height: 25vh;
        opacity: 0.8;
    }
    .banner-two-page .showcase {
        width: 100%;
        height: 25vh;
        position: relative;
        color: white;
        text-align: center;
    }
    .boat-list-icon {
        display: flex;
    }
    .boat-list-icon li {
        padding: 28px;
        margin-bottom: 10px;
        font-size: 26px;
    }
    .bot-view-details h2 {
        font-size: 34px;
        line-height: 54px;
    }
    .bot-view-details .title-text p {
        font-size: 16px;
    }
    .bot-view-details .title-text h4 {
        font-size: 18px;
    }
}


/** Large devices (desktops, 992px and up)**/

@media (max-width: 992px) {}


/** X-Large devices (large desktops, 1200px and up)**/

@media (max-width: 1200px) {}


/** XX-Large devices (larger desktops, 1400px and up)**/

@media (max-width: 1400px) {}